.about-me {
  display: flex;
  padding: 12vh 0 10vh 0;
  justify-content: space-between;
}

.about-me:last-child {
  margin-left: auto;
}

.about-p h3 {
  padding-bottom: .5em;
}

.about-p {
  flex: 1;
  margin-right: 10%;
  padding: 2em;
  line-height: 1.5;
  justify-content: left;
  align-self: center;
}

.about-img {
  padding: 0 20px 0 20px;
}

.jon {
  width: 100%;
  max-width: 600px;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .about-me {
    flex-direction: column;
  }
  .about-p {
    margin: auto;
    padding: 0 20px 0 20px;
  }
}