@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap'); */

* {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Source Code Pro', monospace; */

}

body {
  background: #121212;
  font-size: 120%;
}

div {
  color:rgb(228, 228, 228);
}

.main {
  display: flex;
  justify-content: center;
  padding: 12vh 20px 10vh 20px;
  /* padding-top: 10vh;
  padding-bottom: 10vh; */
}

h1 {
  padding: 30px;
}

h4 {
  font-size: 1em;
}

/* nav page */

nav {
  z-index: 3;
  padding-top: 0.5em;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: #1c1c1c;
  color:rgb(228, 228, 228);
}

.nav-links a:visited {
  color:rgb(228, 228, 228);
}

.nav-links a {
  text-decoration: none;
}

.nav-links a:hover {
  color: #D3869B; 
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.home-link, .hamburger {
  padding: 0 2em;
  color: #D3869B;
}

.nav-links {
  padding: 0 2em;
  display: flex;
}

.nav-links li {
  padding: 10px;
}

.hamburger {
  fill: #D3869B; 
  display: none;
}

.social {
  fill: #D3869B;
}

.social:hover {
  fill: #7dd4b9;
} 


.logo {
  z-index: 2;
  transition: 0.3s;
}

.logo:hover {
  width: 125%;
  height: auto;
}

/* Home page */

.home {
  /* display: block; */
  flex-direction: column;
  justify-content: center;
  padding: 12vh 0 10vh 0;
}

@media only screen and (max-width: 800px) {
  .nav-links {
    overflow: hidden;
    background-color: #D3869B;
    position: fixed;
    bottom: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .nav-links a:hover {
    color: rgb(228, 228, 228);
  }

  .hamburger {
    display: block;
  }
  .social {
    display: none;
  }
}
