@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap'); */

* {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Source Code Pro', monospace; */

}

body {
  background: #121212;
}

.app {
  text-align: center;
}

div {
  color:rgb(228, 228, 228);
}

/* nav page */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: #1c1c1c;
  color:rgb(228, 228, 228);
}

.nav-links a:visited {
  color:rgb(228, 228, 228);
}

.nav-links a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.home-link, .hamburger {
  padding: 0 2em;
  color: #D3869B;
}

.nav-links {
  padding: 0 2em;
  display: flex;
}

.nav-links li {
  padding: 10px;
}

.hamburger {
  fill: #D3869B; 
  display: none;
}

.social {
  fill: #D3869B;
}

/*  About page */

.container {
  display: flex;
}

@media only screen and (max-width: 800px) {
  .nav-links {
    overflow: hidden;
    background-color: #8842d5;
    position: fixed;
    bottom: 0;
    height: 8vh;
    width: 100%;
    display: flex;
  }

  .hamburger {
    display: block;
  }
  .social {
    display: none;
  }
}