.contact {
  display: flex;
  flex-direction: column;
  padding: 2em;
  /* border: 10px solid #D3869B;
  border-radius: 10px; */
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2em;
}

.contact-links svg {
  fill: #D3869B;
  height: 100;
}