.about h3 {
  color: #D3869B;
  font-size: 200%;
  animation: fadein 2.5s;
}

.about h4 {
  font-size: 150%;
  animation: fadein 3.5s;
}

.slash {
  position: fixed;
  width: -webkit-fill-available;
  top: -30px;
  z-index: -1;
}

#slash-1 {
  background: #321f25;
  transform: skewY(11deg);
  height: 20vh;
}

#slash-2 {
  background: #1d342c;
  top: 16%;
  transform: skewY(11deg);
  height: 60vh;
}

#slash-3 {
  background: #1d342c;
  top: 16%;
  transform: skewY(-11deg); 
  height: 60vh;
}

#slash-4 {
  background: #321f25;
  transform: skewY(-11deg); 
  height: 60vh
}

.logo-home {
  max-width: 300px;
}

.logo-home #color-fill {
  animation: fadein 1s;
  animation: scale 1s;
}

.logo-home #JT {
  animation-name: fadein;
  animation-duration: 1.5s;
}
/* 
.logo-home:hover {
  transform: skewY(-11deg); 
} */

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.me {
  flex: 1;
  padding: 3em 0 1em;
  text-align: center;
}

.about {
  display: inherit;
  align-items: flex-end;
  text-align: center;
  line-height: 2;
}

.feat-projects {
  display: flex;
  padding: 1em;
  bottom: 5em;
  overflow: scroll;
}

.feat-projects::-webkit-scrollbar {
  display: none;
}

.feat-project {
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  max-height: 200px;
  margin: 15px;
  transition: all .2s ease-in-out; 
}

.feat-project:hover {
  transform: scale(1.1);
}

.prost {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  /* .container {
    display: block;
    padding: 3em 2em;
  } */

  .home-container {
    display: block;
    padding: 0px;
  }

  .about {
    padding-top: 1em;
  }
}