h2 {
  text-align: left;
  padding-bottom: 1em;
  color: #D3869B;
}

.container {
  display: flex;
  flex: row;
  align-items: stretch;
  margin: 0 0 50px 0;
  padding: 2em;
}

.container p {
  padding: 1em 0 1em 0;
  line-height: 1.5;
  vertical-align: bottom;
}

.container ul {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
}

.container li {
  padding: 0 4px 4px 4px;
  border-radius: 10px;
  color: #7dd4b9;
}

.column {
  display: block;
  width: 100%;
  padding-right: 15px;
}

.images {
  text-align: center;
  max-width: 800px;
}

.carousel {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: nowrap;
}

.carousel:hover > #arrows {
  opacity: 100%;
  transition: 0.3s;
}

.carousel img {
  border-radius: 10px;
  width: 100%;
  height: calc(100% - 250px); 
}

.images button {
  cursor: pointer;
  padding: 10px 24px;
  margin-top: 15px;
  border: solid 5px #D3869B;
  background-color: inherit;
  font: inherit;
  color: inherit;
  border-radius: 10px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #D3869B;
}

#arrows {
  opacity: 0;
  fill: #7dd4b9;
}

.next {
  position: absolute;
  margin: 0px;
  align-self: center;
  right: 5%;
  /* right: 30%; */
  /* bottom: 10%; */
}

.prev {
  position: absolute;
  margin: 0px;
  align-self: center;
  /* left: 30%; */
  /* bottom: 220px;  */
}

@media only screen and (max-width: 1000px) {
  h2 {
    text-align: center;
    padding-bottom: 0.4em;
  }
  .container {
    padding: 0px;
    display: block;
    text-align: left;
  }

  img {
    width: 100%;
  }
}