h2 {
  text-align: left;
  padding-bottom: 1em;
  color: #D3869B;
}

.container {
  display: flex;
  flex: row;
  align-items: stretch;
  margin: 0 0 50px 0;
  padding: 2em;
}

.container h4 {
  padding-top: 1em;
}

.container p {
  line-height: 1.5;
  vertical-align: bottom;
}

.container ul {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
}

.container li {
  padding: 0 4px 4px 4px;
  border-radius: 10px;
  color: #7dd4b9;
}

.column {
  display: block;
  width: 100%;
}

.images {
  width: 100%;
  text-align: center;
}

.images img {
  width: inherit;
  height: auto; 
}

.images button {
  cursor: pointer;
  padding: 10px 24px;
  margin-top: 15px;
  border: solid 5px #D3869B;
  background-color: inherit;
  font: inherit;
  color: inherit;
  border-radius: 10px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #D3869B;

}


/* 
.proj-body img {
  width: 50%;
  height: auto; 
}

.proj-body p {
  vertical-align: bottom;
}

.proj-body div {
  display: block;
}

.proj-body ul {
  display: flex;
}

.proj-body li {
  margin: 1em;
  padding: 10px;
  border-radius: 10px;
  background: #D3869B;
}

.project button {
  float: right;
} */

@media only screen and (max-width: 800px) {
  h2 {
    text-align: center;
    padding-bottom: 0.4em;
  }
  .container {
    padding: 0px;
    display: block;
    text-align: left;
  }

  img {
    width: 100%;
  }
}