* {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: #121212;
}
.app {
  text-align: center;
}

/* nav page */

nav {
  /* border: 2px solid orangered; */

  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  align-items: center;
  min-height: 10vh;
  background: #1c1c1c;
  color:rgb(228, 228, 228);
}

a {
  text-decoration: none;
}

.nav-Links a:visited {
  color:rgb(228, 228, 228);
}

.nav-Links a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

div {
  color:rgb(228, 228, 228);
}

.home-Link {
  color: #D3869B;
  width: 25%;
  text-decoration: none;
}

.nav-Links {
  /* border: 5px solid orangered; */
  display: flex;
}

.nav-Links li {
  padding: 10px;
}

.social {
  fill: #D3869B;
}

/*  About page */

.container {
  display: flex;
}

/* .jonImg {
  display: none;
} */

@media only screen and (min-width: 800px) {
  .jonImg {
    max-height: 10%; 
    border-radius: 50%     
  }
}